.table {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: fit-content;
    max-height: calc(100vh - 100px) !important;
}

.create-order {
    height: 100px;
    display: flex;
    align-items: center;
    &__btn {
        margin-left: 10px;
        padding: 10px;
        font-weight: 600;
        border: 1px solid rgba(48, 220, 48, 0.63);
        border-radius: 5px;
        background-color: rgba(48, 220, 48, 0.63);
    }
    &__btn:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}
