.order {
    display: flex;
    &__status {
        width: 25%;
    }
}
.details {
    margin-top: 50px;
    &__item {
        display: flex;
        margin-bottom: 20px;
        &__data:nth-child(1){
            width: 10%;
        }
        &__data:nth-child(2){
            width: 20%;
        }
        &__data:nth-child(3){
            width: 10%;
        }
    }
}
