body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.disabled-btn {
  background-color: rgba(195, 38, 38, 0.749) !important;
  opacity: 0.5;
}
.btn-success {
  width: fit-content;
  padding: 5px;
  background-color: rgba(48, 220, 48, 0.63);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}

.btn-failure {
  width: fit-content;
  background-color: rgba(250, 57, 57, 0.63);
  padding: 5px;
  background-color: rgba(48, 220, 48, 0.63);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}

.btn-failure:hover {
  opacity: 0.5;
  cursor: pointer;
}
.btn-success:hover {
  opacity: 0.5;
  cursor: pointer;
}
