header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 50%;
        font-size: 24px;
    }
    nav {
        width: 30%;
        display: flex;
        .navigation__link {
            color: rgb(17, 17, 17);
            text-decoration: none;
            opacity: 1;
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-weight: 600;
            img {
                width: 20px;
                margin-right: 10px;
            }
        }
    }
}
